/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.container-sm {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.w-20 {
    width: 20%;
}

.w-60 {
    width: 60%;
}

/* Generics */

/* Debug */
.debug {
    * {
        border: 2px dashed red;
    }

    #main-header {
        background-color: aqua;
        min-height: 70px;
    }

    .header-content {
        background-color: gold;
    }

    .banner-section {
        background-color: blue;
        min-height: 500px;
    }

    .container-sm {
        background-color: pink;
        margin: 0 auto;
        height: 400px;
    }
}

/* Header */
#main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header-content {
        text-align: center;
        padding: 5px;
    }
}

/* Main Content */
.banner-section {
    display: flex;
    align-items: center;

    .banner-content {
        width: 80%;
    }
}