/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.w-20 {
    width: 20%;
}

.w-60 {
    width: 60%;
}

/* Generics */

/* Debug */
.debug {
    * {
        border: 2px dashed red;
    }

    #main-header {
        background-color: aqua;
    }

    .header-content {
        background-color: gold;
        padding: 5px;
    }
}

/* Header */
#main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 70px;

    .header-content {
        text-align: center;
    }
}